/* General Styles */
body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #2b2b2b;
    font-family: monospace;
    font-weight: bold;
    color: white;
}

/* Main container styles */
main {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

/* Header styles */
header {
    text-align: center;
}

/* Controls section styles */
#controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: #242424;
    padding: 1rem;
    border-radius: 0.5rem;
    border: 2px solid #333;
}

#top-row {
    display: flex;
    gap: 10px;
    width: 100%;
    justify-content: center;
}

#fileInput, #createZip {
    flex: 1;
    padding: 10px 15px;
    border-radius: 0.5rem;
    border: 2px solid #333;
    background-color: #3c3c3c;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

#fileInput:hover, #createZip:hover {
    background-color: #4a4a4a;
}

#fileInput:active, #createZip:active {
    background-color: #555;
    transform: scale(0.98);
}

#fileInput::-webkit-file-upload-button {
    visibility: hidden;
}

#fileInput::before {
    content: 'Choose File';
    display: inline-block;
    background-color: #3c3c3c;
    border: 2px solid #333;
    border-radius: 0.5rem;
    padding: 10px 15px;
    cursor: pointer;
    text-align: center;
}

#fileInput:hover::before {
    background-color: #4a4a4a;
}

#fileInput:active::before {
    background-color: #555;
}

/* Instructions section styles */
#instructions {
    text-align: center;
}

#instructions ol {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    margin-top: 10px;
}

#instructions.active ol {
    max-height: 500px;
    transition: max-height 0.5s ease-in;
}

#instructions h2 {
    cursor: pointer;
    display: flex;
    align-items: center;
    user-select: none;
}

#instructions h2::before {
    content: "▶";
    display: inline-block;
    margin-right: 10px;
    transition: transform 0.3s ease-out;
}

#instructions.active h2::before {
    transform: rotate(90deg);
}

/* Preview section styles */
#preview {
    text-align: center;
}

.hidden {
    display: none;
}

#previewContainer {
    border: 1px solid #ccc;
    padding: 3px;
    width: 275px;
    height: 500px;
    overflow: hidden;
    position: relative;
}

#previewImage {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.resizable {
    resize: both;
    overflow: hidden;
    max-width: 100%;
    max-height: 100%;
}