.tabs {
    margin-top: 2em;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.tab {
    flex: 1 1 150px;
    padding: 20px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    max-width: 20em;
}

a {
    display: inline-block;
    color: #aaa;
}